<div class="pagination">
    {{#unless first}}
        <a href="{{prev_page}}" class="previous">Previous</a>
    {{/unless}}
    {{#unless last}}
        <a href="{{next_page}}" class="next">Next</a>
    {{/unless}}
    <div style="clear: both;"></div>
</div>