$theme: (
  color: (
    accent: navyblue,
    trim: pink
  ),
  margins: (
    small: 1em,
    medium: 2em,
    large: 3em,
    huge: 4em
  ),
  text: (
    alignments: (left, right, center, justify),
    sizes: (
      normal: 1em,
      medium: 2em,
      large: 3em
    )
  )
);