$colors: (
	accent: 'navyblue',
	trim: 'pink'	
);

$text-alignments: (left, right, center, justify);

$text-sizes: (
	normal: '1em',
	big: '2em',
	huge: '3em');

$color-applications: (
	txt: 'color',
	bdr: 'border-color',
	bg: 'background-color');

$widths: (
	full: 100%,
	half: 50%,
	third: 33%,
	quarter: 25%,
	fifth: 20%);
