$color-applications: (
	txt: 'color',
	bdr: 'border-color',
	bg: 'background-color');

$widths: (
	full: 100%,
	half: 50%,
	third: 33%,
	quarter: 25%,
	fifth: 20%);

$viewports: (
	mobile: (0px, 480px),
	tablet: (481px, 720px),
	desktop: (721px, null));

$border-edges: ('top', 'bottom', 'left', 'right');