@each $name, $value in map-get($theme, 'rounding') {
	.bdr-rnd-#{$name} {
		border-radius: #{$value};
	}
}

@each $name, $value in $widths {
	.wd-#{$name} {
		width: $value;
	}
}

@each $name, $value in map-get($theme,margins) {
	.mrgn-#{$name} {
		margin: $value;
	}
}

@mixin view($port) {
	@if map-has-key($viewports, $port) {
		@media (min-width: nth(map-get($viewports, $port), 1)) and (max-width: nth(map-get($viewports, $port), 2)) {
			@content
		}
	}
}

@include view(desktop) {
	.test {
		content:' checkit';
	}
}