@each $col, $cval in map-get($theme, color) {
	@each $app, $akey in $color-applications {
		.#{$app}-col-#{$col} {
			#{$akey}: #{$cval};
		} 
	}
}

@each $value in map-get(map-get($theme, 'text'), 'alignments') {
	.txt-al-#{$value} {
		text-align: #{$value};
	}
}

@each $name, $value in map-get(map-get($theme, 'text'), 'sizes') {
	.txt-sz-#{$name} {
		text-size: #{$value};
	}
}

@each $name, $value in $widths {
	.wd-#{$name} {
		width: $value;
	}
}

@each $name, $value in map-get($theme,margins) {
	.mrgn-#{$name} {
		margin: $value;
	}
}

@mixin view($port) {
	@if map-has-key($viewports, $port) {
		@media (min-width: nth(map-get($viewports, $port), 1)) and (max-width: nth(map-get($viewports, $port), 2)) {
			@content
		}
	}
}

@include view(desktop) {
	.test {
		content:' checkit';
	}
}